@model UNIverse.Models.ViewModels.PostViewModel
<!--TODO: Mögulega búa til FrontPageViewModel-->
@{ViewBag.Title = "Home Page";}

<h1>Welcome to UNIverse</h1>

<p>
    See posts from @Html.ActionLink("Friends", "Index", "Home") | @Html.ActionLink("Groups", "Groups", "Home")
    Get posts sorted by Tag (from all members): @Html.ActionLink("Books", "Tag", "Home", new { tag = "Books" }, null) | @Html.ActionLink("Party", "Tag", "Home", new { tag = "Party" }, null)
</p>

@Html.ActionLink("View Users", "AllUsers")

@{Html.RenderPartial("_NewPostPartial", new UNIverse.Models.ViewModels.PostViewModel());}

@{Html.RenderPartial("_NewsfeedPartial", Model);}