@model UNIverse.Models.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm())
{
    <p>
        Find group: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<h4>Groups</h4>
<table class="table">
    @if(Model.Groups != null)
    { 
    foreach (var item in Model.Groups)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FirstName)
            </td>
            <td>
                @*  @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | *@
                @Html.ActionLink("View Info", "View", new { id = item.Id })
                @* @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }
    }
    else
    {
        <h6>No search results</h6>
    }

</table>

<h4>Users</h4>
<table class="table">
    @if(Model.Users != null)
    { 
    foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @*  @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | *@
                @Html.ActionLink("View Info", "View", new { id = item.Id })
                @* @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }
    }
    else
    {
       <h6>No search results</h6>
    }

</table>

