@model UNIverse.Models.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<link href="@Url.Content("~/Content/Search.css")" rel="stylesheet" type="text/css" />


<div class="searchBox">
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchString", "", new { placeholder="Search for a group or friend..." })
            <input type="submit" value="Search" class="btn btn-primary searchButton" />
        </p>
    }
</div>

@if(Model.Groups != null && Model.Users != null)
{
    <h4>Groups</h4>
    if(Model.Groups != null)
    {
        Html.RenderPartial("_GroupsList", Model.Groups);
    }

    <h4>Users</h4>
    if (Model.Users != null)
    {
        foreach (var item in Model.Users)
        {
            <div class="col-md-2">
                    <a href='@Url.Action("Index", "User", new { userId = item.Id })'>
                        <img alt="Profile Picture" class="img-responsive" src='@Url.Content(item.ProfilePicturePath)' />
                </a>
                <span>@(Html.ActionLink(item.FirstName + " " + item.LastName, "Index", "User", new { userId = item.Id }, null))</span>
            </div>
        }
    }      
}
