@model UNIverse.Models.ViewModels.FriendListViewModel

@{
    ViewBag.Title = "View1";
}

<h2>Friends</h2>

<div>
    <h4>Pending friend requests</h4>
    @foreach (var item in Model.PendingReceived)
    {
        <div class="col-md-2">
            <img src="@Url.Content(item.ProfilePicturePath)" alt="Profile Picture" class="img-responsive" />
            <span>@(Html.ActionLink(item.FirstName + " " + item.LastName, "Index", new { userId = item.Id }))</span>
            @using (Html.BeginForm("AddFriend", "User", new { userId = item.Id }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <input type="submit" value="Accept Request" class="btn btn-default" />
            }

            @using (Html.BeginForm("RemoveFriend", "User", new { userId = item.Id }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="submit" value="Decline Request" class="btn btn-default" />
            }
    
        </div>
    }
</div>

<div>
    <h4>Awaiting response</h4>
    @foreach (var item in Model.PendingSent)
    {
        <div class="col-md-2">
            <img src="@Url.Content(item.ProfilePicturePath)" alt="Profile Picture" class="img-responsive" />
            <span>@(Html.ActionLink(item.FirstName + " " + item.LastName, "Index", new { userId = item.Id }))</span>
            @using (Html.BeginForm("RemoveFriend", "User", new { userId = item.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <input type="submit" value="Withdraw request" class="btn btn-default" />
            }
        </div>
    }
</div>

<div>
    <h4>Current friends</h4>
    @foreach (var item in Model.Friends)
    {
        <div class="col-md-2">
            <img src="@Url.Content(item.ProfilePicturePath)" alt="Profile Picture" class="img-responsive" />
            <span>@(Html.ActionLink(item.FirstName + " " + item.LastName, "Index", new { userId = item.Id }))</span>
        </div>
    }
</div>
