@model UNIverse.Models.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Index";
}

<p>Number of sent friend requests: @Model.SentFriendRequests.Count()</p>
<p>Number of received friend requests: @Model.ReceivedFriendRequests.Count()</p>
<p>Number of friends: @Model.Friends.Count()</p>

@using (Html.BeginForm("AddFriend", "User", new { userId = Model.userId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <input type="submit" value="Add Friend" class="btn btn-default" />
}

<div class="col-md-6 col-md-push-6">
    <h2>@Model.Name</h2>
    <h4>Profile info goes here...</h4>

    <p>Groups</p>
    @if (Model.Groups != null)
    {
        foreach (var item in Model.Groups)
        {
            <ul>
                <li>@Html.ActionLink(@item.Name, "View", "Group", new { id=item.Id }, null)</li>
            </ul>
        }
    }
    <h3>Friends</h3>
    @foreach(var friend in Model.Friends)
    {
        <h4>@(friend.FirstName + " " + friend.LastName)</h4>
        <p>@friend.Email</p>
        <hr />
    }

    <h3>Sent friend requests</h3>
    @foreach (var request in Model.SentFriendRequests)
    {
        <h4>@(request.Receiver.FirstName + " " + request.Receiver.LastName)</h4>
        <p>Request since @request.RequestDate</p>
        <hr />
    }

    <h3>Received friend requests</h3>
    @foreach (var request in Model.ReceivedFriendRequests)
    {
        <h4>@(request.Sender.FirstName + " " + request.Sender.LastName)</h4>
        <p>Request since @request.RequestDate</p>
        <hr />
    }

</div>

<div class="container col-md-6 col-md-pull-6">
    <h4>User posts</h4>
    <!-- TODO: Nota partial view fyrir newsfeed og gera frekar RenderPartial.
        Ef að Model.Posts verður breytt frá List<Post> yfir í List<PostViewModel>
        er hægt að gera það svona: (at)Html.RenderPartial("_newsfeed", Model.Posts)-->
    @{Html.RenderPartial("_NewsfeedPartial", Model.Posts);}
</div>
