@model UNIverse.Models.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "Index";
}

<p>Number of friend requests: @Model.FriendRequests.Count()</p>

@*TODO: Nota ID frekar en email sem færibreytu*@
@using (Html.BeginForm("AddFriend", "User", new { userId = Model.userId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <input type="submit" value="Add Friend" class="btn btn-default" />
}

<div class="col-md-6 col-md-push-6">
    <h2>@Model.Name</h2>
    <h4>Profile info goes here...</h4>

    <p>Groups</p>
    @if (Model.Groups != null)
    {
        foreach (var item in Model.Groups)
        {
            <ul>
                <li>@Html.ActionLink(@item.Name, "View", "Group", new { id=item.Id }, null)</li>
            </ul>
        }
    }
    <h3>Friends</h3>

</div>

<div class="container col-md-6 col-md-pull-6">
    <h4>User posts</h4>
    <!-- TODO: Nota partial view fyrir newsfeed og gera frekar RenderPartial.
        Ef að Model.Posts verður breytt frá List<Post> yfir í List<PostViewModel>
        er hægt að gera það svona: (at)Html.RenderPartial("_newsfeed", Model.Posts)-->
    @{Html.RenderPartial("_NewsfeedPartial", Model.Posts);}
</div>
