@using Microsoft.AspNet.Identity;
@model List<UNIverse.Models.Post>

<link href="@Url.Content("~/Content/Newsfeed.css")" rel="stylesheet" type="text/css" />
@foreach (var item in Model)
{
    <div class="news-item col-md-12">
        <div class="news-header col-md-12">
            <div class="col-md-1">
                <img src="@Url.Content(item.Author.ProfilePicturePath)" alt="Image not found" class="img-responsive profile-image" />
            </div>
            <div class="news-header-text col-md-11">
                <h4 class="news-author">
                    @Html.ActionLink(item.Author.FirstName + " " + item.Author.LastName, "Index", "User", new { userId = item.Author.Id }, null)
                </h4>
                <div class="news-date"><small>@item.DateCreated</small></div>
                @if (item.ParentGroup != null)
                {
                    <div class="news-group">
                        <small>Posted in <strong>@item.ParentGroup.Name</strong></small>
                    </div>
                }
                @if (item.Tag != null)
                {
                    <div class="news-tag">
                        <small>Tag: @item.Tag</small>
                    </div>
                }
                
            </div>
        </div>
        <div class="col-md-12 news-content">
            @if (item.ImagePath != null)
            {
                <div class="news-image col-md-4">
                    <img src="@Url.Content(item.ImagePath)" alt="Image not found" class="img-responsive" />
                </div>
            }

            <div class="news-body col-md-8">
                @item.Body
            </div>
        </div>

        <div class="news-footer col-md-12" >
            <ul class="list-inline">
            @if(item.Author.Id == User.Identity.GetUserId())
            {
                <li><small>@Html.ActionLink("Edit", "Edit", "Post", new { Id = item.Id }, null)</small></li>
                <li><small>@Html.ActionLink("Delete Post", "DeletePost", "Post", new { Id = item.Id }, null)</small></li>
            }
            <li><small>@Html.ActionLink("Comment", "AddComment", "Post", new { postId = item.Id }, null)</small></li>
            </ul>
        </div>

        @if(item.Comments.Count() > 0)
        {
            <div class="news-comments col-md-12">
            @foreach (var comment in item.Comments)
            {
                <div class="comment-item comment-author">

                    <small><strong>@Html.ActionLink(comment.Author.FirstName + " " + comment.Author.LastName, "Index", "User", new { userId = comment.Author.Id }, null)</strong></small>
                </div>
                <div class="comment-item">
                    <small>@comment.Body</small><br />
                </div>
            }
        </div>
        }
        
    </div>
}

