@model UNIverse.Models.ViewModels.PostViewModel

@using (Html.BeginForm("New", "Post", new { returnUrl = this.Request.RawUrl }, FormMethod.Post, new { @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.groupId) 
    <div class="container-fluid form-group post-input"  >
        @Html.TextAreaFor(model => model.Body, new { @placeholder = "Enter status...", @class = "form-control post-text-box"})
        @Html.DropDownListFor(model => model.Tag, new List<SelectListItem>() {
                                                                        new SelectListItem() { Text = "Select tag", Value = "", Selected = true  },
                                                                        new SelectListItem() { Text = "Books", Value = "Books", Selected = false },
                                                                        new SelectListItem() { Text = "Party", Value = "Party", Selected = false }
                                                                        }, new { @class = "form-control post-tag-box" })
        @Html.TextBoxFor(model => model.ImagePath, new { @placeholder = "Optional - Enter an image path...", @class = "form-control post-image-box" })
        @Html.ValidationMessageFor(model => model.Body)
    </div>

    <div class="form-group">
            <input class="btn btn-primary post-button" type="submit" value="Post"/>
    </div>
}
