@model UNIverse.Models.ViewModels.GroupViewModel

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Search for groups: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

@if (!Model.search)
{ 
    <p>I am an admin of.....</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.UserIsAdmin)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Administrator.FirstName)
                </td>
                <td>
                    @*  @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | *@
                    @Html.ActionLink("View Info", "View", new { id = item.Id })
                    @* @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>

    <p>I am a member of.....</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.GroupsUserIsIn)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Administrator.FirstName)
                </td>
                <td>
                    @*  @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | *@
                    @Html.ActionLink("View Info", "View", new { id = item.Id })
                    @* @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>
}

else
{ 
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.AllGroups) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FirstName)
            </td>
            <td>
              @*  @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | *@
                @Html.ActionLink("View Info", "View", new { id=item.Id }) 
               @* @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

    </table>
}
