@model UNIverse.Models.ViewModels.GroupViewModel

<div class="col-md-6 col-md-push-6">
    <h3 class="noMargin">@Html.DisplayFor(model => model.Name)</h3>
    @if (Model.GroupPicturePath != null)
    {
        <img src="@Url.Content(Model.GroupPicturePath)" alt="Profile pic not found" class="img-responsive" />
    }
    else
    {
        <img src="https://findyourtrainer.com/static/images/avatar.jpg" alt="Profile pic not found" />
    }
    <hr />

    <dl class="info">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    @Html.ActionLink("Back to List", "Index")

    @if ((!Model.isAdmin) && Model.inGroup)
    {
        <span><input type="button" value="Leave group" onclick="location.href='@Url.Action("Leave", "Group", new { id = Model.Id })'" /></span>
    }
    @if (Model.isAdmin)
    {
        <span><input type="button" id="EditGroup" value="Edit Group" onclick="location.href='@Url.Action("Edit", "Group", new { id= Model.Id})'" /></span>
    }
    @if (Model.inGroup)
    {
        <strong><p>Members</p></strong>
        foreach (var item in Model.Members)
        {
            <ul>
                <li>
                    @if (@Model.Administrator != null && item == @Model.Administrator)
                    {
                        <p>*** @Html.ActionLink(item.FirstName + " " + item.LastName, "Index", "User", new { userId = item.Id }, null)</p>
                    }
                    else
                    {
                        <p>@Html.ActionLink(item.FirstName + " " + item.LastName, "Index", "User", new { userId = item.Id }, null)</p>
                    }
                </li>
            </ul>
        }
    }
</div>

<div class="container-fluid col-md-6 col-md-pull-6">
    @if (Model.inGroup)
    {
        <h4>Group posts</h4>
        Html.RenderPartial("_NewPostPartial", new UNIverse.Models.ViewModels.PostViewModel() { groupId = Model.Id });
        Html.RenderPartial("_NewsfeedPartial", new UNIverse.Models.ViewModels.PostViewModel() { groupId = Model.Id, Posts = Model.Posts });
    }

    @if (!Model.inGroup)
    {
        <h4>Members <input type="button" value="Join" onclick="location.href='@Url.Action("Join", "Group", new { id = Model.Id })'" /></h4>
        foreach (var item in Model.Members)
        {
            <ul>
                <li>
                    @if (Model.Administrator != null && item == Model.Administrator)
                    {
                        <p>(admin) @item.FirstName @item.LastName</p>
                    }
                    else
                    {
                        <p>(notAdmin) @item.FirstName @item.LastName</p>
                    }
                </li>
            </ul>
        }
    }
</div>
